# roles/cat_site/templates/index.html.j2
<html>
  <head>
    <title>My Cat Site</title>
  </head>
  <body>
    <h1>Welcome to My Cat Site</h1>
    <img src="{{ cat_image_url }}" alt="A cute cat">

    wygenerowane z Roli cat_site
  </body>
</html>

